.footer{
    font-size: 1rem;
    text-align: center;
    height: 50px;
    background: linear-gradient(90deg,#3D3072 0%,#423477 100%);
    padding: 1rem;
}

@media(max-width:768px){
    .footer{
        margin-left: 200px;
    }
}

@media(max-width:600px)
{
    .footer{
        width: 100%;
    }
}